<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <title>Assignment Deleted</title>
</head>
<body>
  <h1>Assignment Deleted</h1>
  <p>This assignment has been deleted.</p>
  <p><label>Name: </label> {{name}}</p>
  <p>
    <a href="/">See All Assignments</a>
  </p>
</body>
</html>